# Binaries & Object files
*.o
belya
belya_test
belya_benchmark
test_runner
bench_*

# SQLite Databases & Test Artifacts
*.sqlite
*.sqlite-journal
*.sqlite-shm
*.sqlite-wal
test_sample.txt
test_broken.c
.belya_history
.belya/tools/

# OS / Editor Artifacts
.DS_Store
*.dSYM/
.env
run.sh
